0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp2.1/3-writeline.AssemblyInfo.cs
0x00-csharp-hello_world/3-writeline/obj/Debug/netcoreapp2.1/3-writeline.AssemblyInfoInputs.cache
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp2.1/4-print_integer.deps.json
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp2.1/4-print_integer.dll
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp2.1/4-print_integer.pdb
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp2.1/4-print_integer.runtimeconfig.dev.json
0x00-csharp-hello_world/4-print_integer/bin/Debug/netcoreapp2.1/4-print_integer.runtimeconfig.json
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.cache
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.dgspec.json
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.g.props
0x00-csharp-hello_world/4-print_integer/obj/4-print_integer.csproj.nuget.g.targets
0x00-csharp-hello_world/4-print_integer/obj/project.assets.json
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.AssemblyInfo.cs
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.AssemblyInfoInputs.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.assets.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.csproj.CoreCompileInputs.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.csproj.FileListAbsolute.txt
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.csprojAssemblyReference.cache
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.dll
0x00-csharp-hello_world/4-print_integer/obj/Debug/netcoreapp2.1/4-print_integer.pdb
0x00-csharp-hello_world/5-print_float/bin/Debug/netcoreapp2.1/5-print_float.deps.json
0x00-csharp-hello_world/5-print_float/bin/Debug/netcoreapp2.1/5-print_float.dll
0x00-csharp-hello_world/5-print_float/bin/Debug/netcoreapp2.1/5-print_float.pdb
0x00-csharp-hello_world/5-print_float/bin/Debug/netcoreapp2.1/5-print_float.runtimeconfig.dev.json
0x00-csharp-hello_world/5-print_float/bin/Debug/netcoreapp2.1/5-print_float.runtimeconfig.json
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.cache
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.dgspec.json
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.g.props
0x00-csharp-hello_world/5-print_float/obj/5-print_float.csproj.nuget.g.targets
0x00-csharp-hello_world/5-print_float/obj/project.assets.json
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.AssemblyInfo.cs
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.AssemblyInfoInputs.cache
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.assets.cache
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.csproj.CoreCompileInputs.cache
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.csproj.FileListAbsolute.txt
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.csprojAssemblyReference.cache
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.dll
0x00-csharp-hello_world/5-print_float/obj/Debug/netcoreapp2.1/5-print_float.pdb
